.header-outer-container{
    display: flex;
    justify-content: space-between;
    background-color: #265073;
    cursor: pointer;

    .header-container{
        display: flex;
        height: 40px;
        padding: 10px;
        color: white;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;

        .heading{
            margin-left: 5px;
        }
        
         
    }

    .minimize-container{
        color:white;

        .minimize-icon{
            margin-top: 12px;
            margin-right: 10px;
            cursor: pointer;
        }

        .add-icon{
            margin-top: 22px;
        }
    }
}